footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: black;
  color: white;
  text-align: center;
  left: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.textFooter {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.fa {
  padding: 5px;
  margin: 0;
  font-size: 10px;
  text-align: right;
  text-decoration: none;
  border-radius: 20%;
}

@media screen and (max-width: 100%) {
  footer {
    position: static;
  }
}
/* 
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-zalo {
  background: #25d366;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
} */
